@model UsersViewModel
@inject RoleManager<ApplicationRole> _roleManager
@{
    var listt = _roleManager.Roles;
    var roller = (List<RoleViewModel>)ViewBag.Rollist;
}
<div class="page-content p-6">
    <div class="content container">
        <div class="row">
            <div class="col-12">
                <div class="example ">
                    <form method="post" asp-action="UserDetail" asp-controller="Manage" asp-area="Admin">
                        <input type="hidden" asp-for="UserId"/>
                        <div class="form-group">
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="@Model.Name" asp-for="Name" readonly="readonly">
                            <label class="form-control-label" for="formGroupExampleInput2">Ad</label> </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="@Model.Surname" asp-for="Surname" readonly="readonly">
                            <label class="form-control-label" for="formGroupExampleInput2">Soyad</label> </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="formGroupExampleInput2" placeholder="@Model.Email" asp-for="Email" readonly="readonly">
                            <label class="form-control-label" for="formGroupExampleInput2">Kullanıcı Maili</label> </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="@Model.Username" asp-for="Username">
                            <label class="form-control-label" for="formGroupExampleInput2">Kullanıcı Adı</label>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Rol</label>
                            <select id="optionMenu" asp-for="roleName"
                                    asp-items="@(new SelectList(listt, "Id", "Name"))">
                            </select>
                            <input type="hidden" asp-for="roleName"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>